.main-content {
  margin-top: 50px;
}

.card-holder {
  height: 230px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 20px;
}

#player, #bots {
  margin-top: 20px;
  margin-bottom: 50px;
}

#use-chopsticks {
  margin-top: 3px;
}